<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .input h1{
            text-align: center;
        }
        .input h6{
            text-align: center;
            color: white;
        }
        .input{
            border: 1px solid black;
            background-color: powderblue;
            padding-left: 10px;
        }
        .row{
            background-color: black;
        }
        body{
            background-color: gray;
        }

    </style>
</head>
<body>
    <form action="/results" method="POST">
        <div class="row">
            <div class="input">
                <h1>COVID CHECKUP</h1>
                <h6>(PUT '1' FOR YES AND '0' FOR FALSE.)</h6>
                <label for="BreathingProblem"> BreathingProblem
                    <input type="number" name="BreathingProblem"  min="0" max="1">
                </label> <br><br>
               <label for="Fever"> Fever
                    <input type="number" name="Fever"  min="0" max="1">
                </label> <br><br>
                 <label for="DryCough"> DryCough
                    <input type="number" name="DryCough"  min="0" max="1">
                </label> <br><br>
                 <label for="Sorethroat"> Sorethroat
                    <input type="number" name="Sorethroat"  min="0" max="1">
                </label> <br><br>
                 <label for="RunningNose"> RunningNose
                    <input type="number" name="RunningNose"  min="0" max="1">
                </label> <br><br>
                 <label for="Asthma"> Asthma
                    <input type="number" name="Asthma"  min="0" max="1">
                </label> <br><br>
                 <label for="ChronicLungDisease"> Chronic Lung Disease
                    <input type="number" name="ChronicLungDisease"  min="0" max="1">
                </label> <br><br>
                 <label for="Headache"> Headache
                    <input type="number" name="Headache"  min="0" max="1">
                </label> <br><br>
                 <label for="HeartDisease"> HeartDisease
                    <input type="number" name="HeartDisease"  min="0" max="1">
                </label> <br><br>
                 <label for="Diabetes"> Diabetes
                    <input type="number" name="Diabetes"  min="0" max="1">
                </label> <br><br>
                 <label for="HyperTension"> HyperTension
                    <input type="number" name="HyperTension"  min="0" max="1">
                </label> <br><br>
                 <label for="Fatigue"> Fatigue
                    <input type="number" name="Fatigue"  min="0" max="1">
                </label> <br><br>
                 <label for="Gastrointestinal"> Gastrointestinal
                    <input type="number" name="Gastrointestinal"  min="0" max="1">
                </label> <br><br>
                 <label for=" RecentAbroadTravel">  Recent AbroadTravel
                    <input type="number" name=" RecentAbroadTravel"  min="0" max="1">
                </label> <br><br>
                 <label for="ContactWithCOVIDPatient"> Contact With COVID Patient
                    <input type="number" name="ContactWithCOVIDPatient"  min="0" max="1">
                </label> <br><br>
                 <label for="AttendedLargeGathering"> Attended Large Gathering
                    <input type="number" name="AttendedLargeGathering"  min="0" max="1">
                </label> <br><br>
                 <label for="VisitedPublicExposedPlaces"> Visited Public Exposed Places
                    <input type="number" name="VisitedPublicExposedPlaces"  min="0" max="1">
                </label> <br><br>
                 <label for="FamilyworkinginPublicExposedPlaces"> Family working in Public Exposed Places
                    <input type="number" name="FamilyworkinginPublicExposedPlaces"  min="0" max="1">
                </label> <br><br>
                 <label for="WearingMasks"> Wearing Masks
                    <input type="number" name="WearingMasks"  min="0" max="1">
                </label> <br><br>
                 <label for="Sanitization"> Sanitization
                    <input type="number" name="Sanitization"  min="0" max="1">
                </label> <br><br>
            </div>

            
        </div>     
        <input type="submit" value="Submit">
        </div> 
    </form>
</body>
</html>